{% extends 'base.html.twig' %}

{% block title %}mes adresse - shop-symfony!{% endblock %}
{% block content %}
<a href="" class="btn btn-primary btn-info btn-sm float-right"> ajouter une adresse</a>
<h1>ajoutez une adresse</h1>
<a href="{{path('account_adress')}}">retour</a>

{% endblock %}

