{% extends 'base.html.twig' %}

{% block title %}mon password  - shop-symfony!{% endblock %}
{% block content %}
<h1>password</h1>
bienvenue {{app.user.firstname}}, c'est ici que tu vas pouvoir gerer ton compte
<hr>
- <a href="{{path('account_password')}}"> modifier mdp</a> <br>
-ajoutez adresse <br>
-mes commandes <br>
<hr>
{% endblock %}


