{% extends 'base.html.twig' %}

{% block title %}mon password  - shop-symfony!{% endblock %}
{% block content %}
<h1>password</h1>
<hr>
- <a href="{{path('account')}}"> modifier mdp</a> <br>
<hr>
{{form(form)}}
<hr>
{% endblock %}


