{% extends 'base.html.twig' %}

{% block title %}mon password  - shop-symfony!{% endblock %}
{% block content %}
<h1>password</h1>
<hr>
- <a href="{{path('account')}}"> retour</a> <br>
<hr>
{% if notification %}
    <div class="alert alert-info">{{notification}}</div>
{% endif %}
{{form(form)}}
<hr>
{% endblock %}


