{% extends 'base.html.twig' %}

{% block title %}A propos de nous{% endblock %}

{% block content %}
<h2>
    Qui sommes-nous?
</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam animi, voluptate sit illum possimus nam dolor, unde quam eveniet illo, voluptates dicta rerum ut deserunt atque eos vel sapiente esse?</p>
<h2>
    Nos valeurs
</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt vero optio veritatis sint numquam necessitatibus architecto blanditiis, aspernatur odit expedita, fuga earum soluta quia voluptas repellendus iusto minus veniam voluptate!
</p>
<h2>
    Nos produits
</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui omnis, tempora harum dicta reiciendis quidem sint quod minima ex quam incidunt? Ullam cupiditate nostrum hic quae dolores at cum tempora!</p>
<h2>
    copyright
</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit molestias quod esse similique, sunt porro obcaecati adipisci nesciunt! Aut, vitae adipisci cum sunt illo illum nulla doloribus optio ratione sit?</p>
{% endblock %}
