body{
    .conn-dec{
        margin: 0 15px;
        color: white;
        text-decoration: none;
        p{
            color:white;
        }
        
    }
    .conn-dec:hover{
        color: white;
        text-decoration: none;

    }
    .conn-dec:visited{
        color: white;
        text-decoration: none;

    }
    .product-item  {
        margin-top: 50px;
        h5{
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 1px;
        }
        .product-subtitle{
            font-size: 14px;
            display: block;
            margin-bottom: 10px;
        }
        .product-price{
            font-size: 14px;
            font-weight: bold;
        }
    }
    footer{
        width: 100vw; 
        position: fixed;
        bottom: 0;
        text-align: center;
        background-color: turquoise;
    }
}


@media screen  and (max-width : 767px){ 
    body{
        .conn-dec{
            margin: 0 0;
        }
    .nav{
        display: flex;
        align-items: flex-start;
        .hr{
        display: block;
        width: 100%;
        border-bottom: 1px solid white;
        }
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}
.product-item h5 {
    text-transform: uppercase;
    font-size: 16px;
}
}